#!/bin/bash

# This is an example rc file

# The following lines give the location or commands
# of the installation of necessary (and optional) programs.
# These are important to make any of the scripts work.
# (They could also be hardcoded into the script itself,
# but within this file it should be easier.)

# General path to the g16 directory (this should work on every system)
#
  g16_installpath="/path/is/not/set"

# Define where scratch files shall be written to
#
  g16_scratch="$TEMP"

# On the RWTH cluster Gaussian is loaded via a module system,
# enter the names of the modules to be loaded here.
# They have to appear in the correct order.
# 
  g16_modules[0]="CHEMISTRY"
  g16_modules[1]="gaussian/16.a03_bin"

# Set the commands or paths for utilities:
#
# - formatted checkpoint files
#   
#   Tools-for-g16 wrapper (if found in path)
#   g16_formchk_cmd="g16.wrapper.sh formchk" # ( - TO DO - )
#   A command that executes formchk
    g16_formchk_cmd="wrapper.g16 formchk" # ( Current workaround )
#   Local install with formchk found in PATH
#   g16_formchk_cmd="formchk" 
#   The hard coded path to the binary works also.
#   bin_formchk_cmd="/path/to/g16/formchk"
#
#   No options should be included in the above, but can be set:
    g16_formchk_opts="-3"
#   If no options should be given to fromchk, the leave set it to empty,
#   g16_formchk_opts=""
#   otherwise the scripts will use '-3' as option.
#
# - checking the route section
#   
#   Tools-for-g16 wrapper (if found in path)
#   g16_testrt_cmd="g16.wrapper.sh testrt" # ( - TO DO - )
#   A command that executes testrt
    g16_testrt_cmd="wrapper.g16 testrt" # ( Current workaround )
#   Local install with testrt found in PATH
#   g16_testrt_cmd="testrt" 
#   The hard coded path to the binary works also.
#   bin_testrt_cmd="/path/to/g16/testrt"
#

# This script requires an installation of Open Babel.
# (It's syntax is:
#    obabel [-i<in-type>] <in-file> [-o<out-type>] -O<out-file>
# If you have added it to your $PATH, then
#
  obabel_cmd="obabel"
#
# should be enough.
#
# Otherwise, provide the path to the binary
#  bin_babel="/path/to/openbabel/bin/obabel"
#

#
# Setting some more defaults
#

# Print all information by default
#
  stay_quiet=0

# Specify default Walltime in [[HH:]MM:]SS
#
  requested_walltime="72:00:00"

# Specify a default value for the memory (does not include overhead)
#
  requested_memory=512

# Set the number of professors doing the calculation
#
  requested_numCPU=4

# The default which should be written to the inputfile
# regarding disk space (in MB)
#
# requested_maxdisk=30000

# Select a queueing system (pbs-gen/bsub-rwth)
#
  request_qsys="bsub-rwth"

# Account to project (only for rwth)
#
# bsub_project=default

