#!/bin/bash

# This is an example rc file

# The following lines give the location or commands
# of the installation of necessary (and optional) programs.
# These are important to make any of the scripts work.
# (They could also be hardcoded into the script itself,
# but within this file it should be easier.)

# General path to the g16 directory (this should work on every system)
# [Default: /path/is/not/set]
#
  g16_installpath="/path/is/not/set"

# Define where scratch files shall be written to
# [Default: $TEMP]
#
  g16_scratch="$TEMP"

# Define the overhead you'd like to give Gaussian in MB 
# [Default: 2000]
#
  g16_overhead=2000

# If a modular software management is available, use it?
# [Default: true]
#
  load_modules="true"
#
# On the RWTH cluster Gaussian is loaded via a module system,
# enter the names of the modules to be loaded here.
# They have to appear in the correct order (if they happen to depend on each other).
# 
  g16_modules[0]="CHEMISTRY"
  g16_modules[1]="gaussian/16.a03_bin"

# Set the commands or paths for utilities:
#
# - formatted checkpoint files
#   
#   Tools-for-g16 wrapper (if found in path)
#   g16_formchk_cmd="g16.wrapper.sh formchk" # ( - TO DO - )
#   Any command that executes formchk
    g16_formchk_cmd="wrapper.g16 formchk" # ( Current workaround )
#   Local install with formchk found in PATH
#   g16_formchk_cmd="formchk" 
#   The hard coded path to the binary works also.
#   bin_formchk_cmd="/path/to/g16/formchk"
#
#   No options should be included in the above, but can be set:
    g16_formchk_opts="-3"
#   If no options should be given to fromchk, the leave set it to empty,
#   g16_formchk_opts=""
#   otherwise the scripts will use '-3' as option.
#
# - checking the route section (this is similar to above)
#   
#   Tools-for-g16 wrapper (if found in path)
#   g16_testrt_cmd="g16.wrapper.sh testrt" # ( - TO DO - )
#   Any command that executes testrt
    g16_testrt_cmd="wrapper.g16 testrt" # ( Current workaround )
#   Local install with testrt found in PATH
#   g16_testrt_cmd="testrt" 
#   The hard coded path to the binary works also.
#   bin_testrt_cmd="/path/to/g16/testrt"
#

# This script requires an installation of Open Babel.
# (It's syntax is:
#    obabel [-i<in-type>] <in-file> [-o<out-type>] -O<out-file>
# If you have added it to your $PATH, then
#
  obabel_cmd="obabel"
#
# should be enough. (Or is you use a wrapper, enter the command here.)
#
# Otherwise, provide the path to the binary
# obabel_cmd="/path/to/openbabel/bin/obabel"
#

# Default files, suffixes, and other for Gaussian 16
# 
  g16_input_suffix="com"
  g16_output_suffix="log"
#
# Predefined Route sections
#
  g16_route_section_default="# B97D3/def2SVP"
  g16_route_section_predefined[00]="# PM6"
  g16_route_section_predefined[01]="#P B97D3/def2SVP"
  g16_route_section_predefined[02]="#P B97D3/def2TZVP"
  g16_route_section_predefined[03]="#P B97D3/def2TZVPP"
  g16_route_section_predefined[11]="#P BP86/def2SVP   EmpiricalDispersion=GD3BJ"
  g16_route_section_predefined[12]="#P BP86/def2TZVP  EmpiricalDispersion=GD3BJ"
  g16_route_section_predefined[13]="#P BP86/def2TZVPP EmpiricalDispersion=GD3BJ"
#

# Default options for printing and verbosity
#
  values_separator=" " # (space separated values)
  output_verbosity=0
  stay_quiet=0

#
# Default values for the queueing system
#

# Specify default Walltime in [[HH:]MM:]SS
#
  requested_walltime="72:00:00"

# Specify a default value for the memory (does not include overhead)
#
  requested_memory=512

# Set the number of professors doing the calculation
#
  requested_numCPU=4

# The default which should be written to the inputfile
# regarding disk space (in MB)
#
  requested_maxdisk=30000

# Select a queueing system (pbs-gen/bsub-rwth)
#
  request_qsys="bsub-rwth"

# Account to project (only for bsub)
#
# bsub_project=default

# Request a certain machine type (only for bsub)
#
# bsub_machinetype=default

# Calculations will be submitted to run (hold/keep)
requested_submit_status="run"
